
.wordCarousel >span {
  min-width: max-content !important;
}
.logo{
  background-image: url("../img/logo2.png");
  width: 100vw;
  height: 30%; 
  background-size: contain;
  margin: auto 45%;
  background-repeat: no-repeat;
  position: relative;
}

body {
  overflow: hidden !important;
  height: 100vh;
  width: 100vw;
}


html {
    overflow: hidden;
    height:100vh;
    width:100vw;
    background-position: center;
    background-size: cover;;
    background: url("../img/bg1.jpg") no-repeat;
}
.slogan {
  background: url("../img/logo.png") no-repeat;
  background-position:center;
  background-size:cover;
  height:100vh; 
  width:100vw;   
  top: 3%;
  left:0;
  position: absolute;
}

.slogan-social-buttons{
  top: 60%;
  left: 20%;
  position: absolute;
  height:100vh; 
  width:100vw;
}
.inline{
  display: inline-block;
}


.wordCarousel {
   min-width: max-content ;
  font-weight: 930;
  font-family: 'Chakra Petch';
  font-size: 50px;
  color: #424242;
   display: flex;
  flex: 1;
  
}
svg.svg-inline--fa.fa-facebook-f{
  margin-left:30%
}
svg.svg-inline--fa.fa-telegram{
  margin-left: 21%
}
svg.svg-inline--fa.fa-discord {
  margin-left: 13%;
}
.button-group .icon{
  position: relative;
  background-color: #ffffff;
  border-radius: 50%;
  margin: 15px;
  width: 65px;
  height: 65x;
  line-height: 65px;
  font-size: 40px;
  display: inline-block;
  align-items: center;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  color: #333;
  text-decoration: none;
}
.listContent {
  min-width: max-content !important;
  float: right;
  padding: 0 !important;
  height: 70px;
  overflow: hidden;
  font-family: 'Chakra Petch';
  font-size: 40px ;
  font-weight: 930 ;
  display: flex;
  flex: 1;
  color: #9A5870;

}
.content {
  /* /* font-family: 'Chakra Petch'; */
  color: #B470C5;
  font-size: 50px ;
  font-weight: 700;
  height: 45px;
  margin-bottom: 45px;
  display: flex;
  flex: 1;
  margin-left:-20px; */
}
.button-group .tooltip {
  font-family: 'Chakra Petch';
  position: absolute;
  top: 0;
  line-height: 1.5;
  font-size: 14px;
  background-color: #ffffff;
  color: #ffffff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.button-group .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background-color: #ffffff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.button-group .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.button-group .icon:hover span,
.button-group .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}
.button-group .facebook:hover,
.button-group .facebook:hover .tooltip,
.button-group .facebook:hover .tooltip::before {
  background-color: #3b5999;
  color: #ffffff;
}
.button-group .telegram:hover,
.button-group .telegram:hover .tooltip,
.button-group .telegram:hover .tooltip::before {
  background-color: #46c1f6;
  color: #ffffff;
}
.button-group .discord:hover,
.button-group .discord:hover .tooltip,
.button-group .discord:hover .tooltip::before {
  background-color: #5562EA;
  color: #ffffff;
}
.button-group .github:hover,
.button-group .github:hover .tooltip,
.button-group .github:hover .tooltip::before {
  background-color: #333333;
  color: #ffffff;
}
.button-group .youtube:hover,
.button-group .youtube:hover .tooltip,
.button-group .youtube:hover .tooltip::before {
  background-color: #de463b;
  color: #ffffff;
}


div[view_id = "footer"] > div {
  left: 50px !important;
  bottom: 30px !important;
  color:#f7f436 !important;
  font-size: 20px !important;
}

.flip2 { animation: flip2 6s cubic-bezier(0.23, 1, 0.32, 1.2) infinite; }
.flip3 { animation: flip3 6.3s cubic-bezier(0.23, 1, 0.32, 1.4) infinite; }
.flip4 { animation: flip4 10s cubic-bezier(0.23, 1, 0.32, 1.2) infinite; }
.flip5 { animation: flip5 12s cubic-bezier(0.23, 1, 0.32, 1.2) infinite; }

@keyframes flip2 {
  0% { margin-top: -180px; }
  5% { margin-top: -90px;  }
  50% { margin-top: -90px; }
  55% { margin-top: 0px; }
  99.99% { margin-top: 0px; }
  100% { margin-top: -180px; }
}

@keyframes flip3 {
  0% { margin-top: -270px; }
  5% { margin-top: -180px; }
  33% { margin-top: -180px; }
  38% { margin-top: -90px; }
  66% { margin-top: -90px; }
  71% { margin-top: 0px; }
  99.99% { margin-top: 0px; }
  100% { margin-top: -270px; }
}

@keyframes flip4 {
  0% { margin-top: -360px; }
  5% { margin-top: -270px; }
  25% { margin-top: -270px; }
  30% { margin-top: -180px; }
  50% { margin-top: -180px; }
  55% { margin-top: -90px; }
  75% { margin-top: -90px; }
  80% { margin-top: 0px; }
  99.99% { margin-top: 0px; }
  100% { margin-top: -360px; }
}

@keyframes flip5 {
  0% { margin-top: -450px; }
  5% { margin-top: -360px; }
  20% { margin-top: -360px; }
  25% { margin-top: -270px; }
  40% { margin-top: -270px; }
  45% { margin-top: -180px; }
  60% { margin-top: -180px; }
  65% { margin-top: -90px; }
  80% { margin-top: -90px; }
  85% { margin-top: 0px; }
  99.99% { margin-top: 0px; }
  100% { margin-top: -450px; }
}



#gemetaHomePage {
    -webkit-animation: bottom_up; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: bottom_up 1s; /* Firefox < 16 */
        -ms-animation: bottom_up 1s; /* Internet Explorer */
         -o-animation: bottom_up 1s; /* Opera < 12.1 */
            animation: bottom_up 1s;
}

@keyframes bottom_up {
    0% {
      transform: translateY(100%);
    }
    100% {
      transform: translateY(0);
    }
  }


/* Firefox < 16 */
@-moz-keyframes bottom_up {
    0% {
      transform: translateY(100%);
    }
    100% {
      transform: translateY(0);
    }
  }

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes bottom_up {
    0% {
      transform: translateY(100%);
    }
    100% {
      transform: translateY(0);
    }
  }

/* Internet Explorer */
@-ms-keyframes bottom_up {
    0% {
      transform: translateY(100%);
    }
    100% {
      transform: translateY(0);
    }
  }

/* Opera < 12.1 */
@-o-keyframes bottom_up {
    0% {
      transform: translateY(100%);
    }
    100% {
      transform: translateY(0);
    }
  }


  /* CSS Responsive */
  
  /* IphoneX */
@media (min-width: 370px) and (min-height: 800px){
  html{
    background-size: contain;
  }
  body{
    background-size: contain;
  }

  .logo{
    height: 15%;
    margin: auto 30%;
  } 
  .slogan {
    background-position:center;
    background-size: contain;
    top: 3%;
    left: 9%;
    position: absolute;
  }

  .wordCarousel, .content , .listContent{
    font-size: 40px;
    height: 40px;
    margin-bottom: 50px;
  }
  .button-group .icon{
    width: 45px;
    height: 45px;
  }
  .button-group .icon svg{
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 45px;
    margin-left: 8px;
    margin-top: 10px;
  }
  .slogan-social-buttons {
    /* left: 7%; */
  }
}

@media (min-width: 480px) and (min-height: 720px){}


@media (min-width: 480px) and (min-height: 1080px){}
@media (min-width: 960px) and (min-height: 360px){}
@media (min-width: 960px) and (min-height: 720px){}
@media (min-width: 960px) and (min-height: 1080px){}
@media (min-width: 1300px) and (min-height: 600px){
  .slogan-social-buttons {
    left: 12%;
    margin-top: 2%;
  }
}
@media (min-width: 1440px) and (min-height: 360px){
  .wordCarousel, .content , .listContent{
    font-size: 70px;
    height: 70px;
    margin-bottom: 20px;
  }
  .button-group .icon{
    width: 75px;
    height: 75px;
  }
  .button-group .icon svg{
    width: 60px;
    height: 60px;
    line-height: 60px;
    font-size: 65px;
    margin-left: 8px;
    margin-top: 10px;
  }
  .slogan-social-buttons {
    left: 7%;
  }
}
@media (min-width: 1440px) and (min-height: 720px){
  .wordCarousel, .content , .listContent{
    font-size: 70px;
    height: 70px;
    margin-bottom: 20px;
  }
  .button-group .icon{
    width: 75px;
    height: 75px;
  }
  .button-group .icon svg{
    width: 60px;
    height: 60px;
    line-height: 60px;
    font-size: 65px;
    margin-left: 8px;
    margin-top: 10px;
  }
  .slogan-social-buttons {
    left: 7%;
  }
}
@media (min-width: 1440px) and (min-height: 1080px){
  .wordCarousel, .content , .listContent{
    font-size: 70px;
    height: 70px;
    margin-bottom: 20px;
  }
  .button-group .icon{
    width: 75px;
    height: 75px;
  }
  .button-group .icon svg{
    width: 60px;
    height: 60px;
    line-height: 60px;
    font-size: 65px;
    margin-left: 8px;
    margin-top: 10px;
  }
  .slogan-social-buttons {
    left: 7%;
  }
}
@media (min-width: 1920px) and (min-height: 360px){}
@media (min-width: 1920px) and (min-height: 720px){}

@media (min-width: 1600px) and (min-height: 900px){
  .wordCarousel, .content , .listContent{
    font-size: 80px;
    height: 80px;
    margin-bottom: 10px;
  }
  .button-group .icon{
    width: 85px;
    height: 85px;
  }
  .button-group .icon svg{
    width: 70px;
    height: 70px;
    line-height: 70px;
    font-size: 65px;
    margin-left: 8px;
    margin-top: 10px;
  }
  .slogan-social-buttons {
    left: 7%;
  }
}

@media (min-width: 1920px) and (min-height: 1080px){
  .wordCarousel, .content , .listContent{
    font-size: 85px;
    height: 85px;
    margin-bottom: 0;
  }
  .button-group .icon{
    width: 95px;
    height: 95px;
  }
  .button-group .icon svg{
    width: 80px;
    height: 80x;
    line-height: 80px;
    font-size: 75px;
    margin-left: 8px;
    margin-top: 10px;
  }
  
}